In [1]:
import requests
from bs4 import BeautifulSoup

In [6]:
page_urls = ['https://www.indeed.com/jobs?q=data+scientist',
             'https://www.indeed.com/jobs?q=data+scientist&start=10',
             'https://www.indeed.com/jobs?q=data+scientist&start=20',
             'https://www.indeed.com/jobs?q=data+scientist&start=30',
             'https://www.indeed.com/jobs?q=data+scientist&start=40'
            ]

In [171]:
title = []
company = []
desc = []
location = []
rating=[]
salary= []
for url in page_urls:
    response = requests.get(url)
    if response.status_code !=200:
        continue
    else:
        html_code =response.content
        soup = BeautifulSoup(html_code, 'lxml')
        result_col = soup.find('td', {'id': 'resultsCol'} )
        for i in result_col.find_all('h2',{'class': 'title'}):
            title.append(i.get_text(strip=True))
        for j in result_col.find_all('span',{'class': 'company'}):
            company.append(j.get_text(strip=True))
        for a in result_col.find_all('div',{'class': 'summary'}):
            desc.append(a.get_text(strip=True))
        for b in result_col.find_all('div',{'class': 'location accessible-contrast-color-location'}):
            location.append(b.get_text(strip=True))
        for c in result_col.find_all('span',{'class': 'ratingsContent'}):
            rating.append(c.get_text(strip=True))
        for d in result_col.find_all('div',{'class': 'salarySnippet'}):
            salary.append(d.get_text(strip=True))

In [172]:
len(title)

94

In [173]:
len(company)

94

In [174]:
len(desc)

94

In [175]:
len(location)

45

In [176]:
len(rating)

54

In [177]:
len(salary)

33

In [178]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib inline

In [179]:
indeed = pd.DataFrame(zip(title,company,desc,location, rating, salary), columns=["title", "company", "desc", "location", "rating", "salary"])

In [180]:
indeed.head()

,title,company,desc,location,rating,salary
0,DataScientist,Triplebyte,You’ll report directly to Triplebytes' Head of...,Remote,5.0,"$150,000 - $225,000 a year"
1,DataScientist,Global Fishing Watch,Helping the machine learning engineers build m...,"Oakland, CA",4.5,$45 - $65 an hour
2,"DataScientist, Medical Diagnostics",Specific Diagnostics,Used for bloodstream infection Specific’s solu...,"Mountain View, CA 94043",4.0,"$100,000 - $150,000 a year"
3,EducationalDataScientist,Expatiate Communications,Knowledge and deployment of advanced statistic...,"Pasadena, CA 91101(West Central area)",3.2,"$85,000 - $90,000 a year"
4,"DataScientist, Customer Analytics",Atlassian,Proficiency in at least one analytics & visual...,"Walnut Creek, CA",4.2,$50 an hour

In [182]:
indeed.to_csv("jobs.csv", index=False)

In [183]:
indeed.describe()

,title,company,desc,location,rating,salary
count,33,33,33,33,33,33
unique,19,27,29,10,10,14
top,DataScientist,Apple,Helping the machine learning engineers build m...,"Oakland, CA",4.2,$45 - $65 an hour
freq,13,3,2,4,7,6

In [187]:
indeed.count()

title       33
company     33
desc        33
location    33
rating      33
salary      33
dtype: int64

In [189]:
indeed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     33 non-null     object
 1   company   33 non-null     object
 2   desc      33 non-null     object
 3   location  33 non-null     object
 4   rating    33 non-null     object
 5   salary    33 non-null     object
dtypes: object(6)
memory usage: 856.0+ bytes

In [211]:
df = pd.read_csv("jobsssssss.csv")
df

,title,company,desc,location,rating,salary
0,DataScientist,Triplebyte,You’ll report directly to Triplebytes' Head of...,Remote,5.0,"$150,000 - $225,000 a year"
1,DataScientist,Global Fishing Watch,Helping the machine learning engineers build m...,"Oakland, CA",4.5,$45 - $65 an hour
2,"DataScientist, Medical Diagnostics",Specific Diagnostics,Used for bloodstream infection Specific’s solu...,"Mountain View, CA 94043",4.0,"$100,000 - $150,000 a year"
3,EducationalDataScientist,Expatiate Communications,Knowledge and deployment of advanced statistic...,"Pasadena, CA 91101(West Central area)",3.2,"$85,000 - $90,000 a year"
4,"DataScientist, Customer Analytics",Atlassian,Proficiency in at least one analytics & visual...,"Walnut Creek, CA",4.2,$50 an hour
5,DataScientistAnalyst,LOCKHEED MARTIN CORPORATION,Work on datasets with applied statistics and m...,"Baltimore, MD 21224(Canton Industrial Area area)",4.1,"$102,663 - $133,465 a year"
6,DataScientist(W2-Fulltime),Techera,Good knowledge of statistics and deep understa...,"San Diego, CA",4.2,$60 - $70 an hour
7,Jr.DataScientist| Development Team,DarkOwl,Work closely with our lead researchers to writ...,"San Francisco, CA",4.8,"$70,000 - $80,000 a year"
8,DataScientistI - Remote,HMS Health Management Systems,Collaborate with subject matter experts to sel...,"Seattle, WA",3.8,"$100,000 - $130,000 a year"
9,"DataScientist, FEAR",Apple,We ensure the trust and safety of Apple servic...,Remote,4.0,"$150,000 - $225,000 a year"
10,DataScientist,US General Services Administration,"Performing data discovery, data mining, predic...","Oakland, CA",5.0,$45 - $65 an hour
11,DataScientist,Pricesenz,Hands on (not just academic) experience in app...,"Mountain View, CA 94043",4.2,"$100,000 - $150,000 a year"
12,Full Time Opportunities for Students or Recent...,Microsoft,Some experience and or project course work per...,"Pasadena, CA 91101(West Central area)",5.0,$50 an hour
13,DataScientist,Plexuss.com,"Experience in data mining, advanced data manip...","Seattle, WA",4.0,"$85,000 - $115,000 a year"
14,DataScientist,ClearOne Advantage,We want to see a passion for machine-learning ...,"Walnut Creek, CA",3.7,"$70,000 - $80,000 a year"
15,DataScientist,Northrop Grumman,"Data analytics and visualization, statistics.T...","Baltimore, MD 21224(Canton Industrial Area area)",4.1,"$150,000 - $225,000 a year"
16,DataScientist,Seen by Indeed,With one application you can be considered for...,"San Diego, CA",4.2,$45 - $65 an hour
17,DataScientist/DataAnalytics,Tredence Inc.,Data analytics: 3 years (Preferred).Lead and m...,"San Francisco, CA",4.8,"$100,000 - $150,000 a year"
18,DataScientist,Triplebyte,You’ll report directly to Triplebytes' Head of...,Remote,3.8,"$100,000 - $120,000 a year"
19,DataScientist,Global Fishing Watch,Helping the machine learning engineers build m...,"Oakland, CA",4.0,$50 an hour
20,"DataScientist, Medical Diagnostics",Specific Diagnostics,Used for bloodstream infection Specific’s solu...,"Mountain View, CA 94043",5.0,"$70,000 - $80,000 a year"
21,EducationalDataScientist,Expatiate Communications,Knowledge and deployment of advanced statistic...,"Pasadena, CA 91101(West Central area)",4.2,"$150,000 - $225,000 a year"
22,DataScientist,Infotree Global,Develop powerful business insights from social...,"Seattle, WA",2.9,$45 - $65 an hour
23,DataScientist/Machine Learning Engineer,Mobile Insights,Develop machine learning applications accordin...,"Mountain View, CA 94041",4.0,"$100,000 - $150,000 a year"
24,"Siri -DataScientist,DataOrganization",Apple,"Build analytic, visualization, and other infor...","Walnut Creek, CA",4.1,$45 - $65 an hour
25,DataScientist,Source Cloud Technology,Data mining using state-of-the-art methods.Enh...,"Baltimore, MD 21224(Canton Industrial Area area)",4.1,"$102,663 - $157,709 a year"
26,DataScientist,Source Enterprises,Stay current on modern trends and advances in ...,"San Diego, CA",4.2,$25 an hour
27,DataScientistIntern,HP,Four-year university students who are working ...,Remote,4.2,"$5,297 - $8,570 a month"
28,DataScientistEntry Level - Pathrise Recruiting...,Pathrise,0-3 years in data science.In these positions y...,"Oakland, CA",4.8,"$70,000 - $80,000 a year"
29,DataScientist- Applied Machine Learning,Virtual eForce,"Either a MS or PhD from a good school, with a ...","Mountain View, CA 94043",3.8,"$150,000 - $225,000 a year"
30,DataScientist- 64922BR,AETNA,Must have experience using R or Python to mani...,"Pasadena, CA 91101(West Central area)",4.0,$45 - $65 an hour
31,Intern:DataAnalyst,Juniper Networks,Determine customers’ experience when they use ...,"Seattle, WA",5.0,"$100,000 - $150,000 a year"
32,Machine Learning Engineer,Apple,"In this highly collaborative role, you will be...","Mountain View, CA 94041",3.7,"$70,000 - $80,000 a year"

In [213]:
df[df.rating >4]

,title,company,desc,location,rating,salary
0,DataScientist,Triplebyte,You’ll report directly to Triplebytes' Head of...,Remote,5.0,"$150,000 - $225,000 a year"
1,DataScientist,Global Fishing Watch,Helping the machine learning engineers build m...,"Oakland, CA",4.5,$45 - $65 an hour
4,"DataScientist, Customer Analytics",Atlassian,Proficiency in at least one analytics & visual...,"Walnut Creek, CA",4.2,$50 an hour
5,DataScientistAnalyst,LOCKHEED MARTIN CORPORATION,Work on datasets with applied statistics and m...,"Baltimore, MD 21224(Canton Industrial Area area)",4.1,"$102,663 - $133,465 a year"
6,DataScientist(W2-Fulltime),Techera,Good knowledge of statistics and deep understa...,"San Diego, CA",4.2,$60 - $70 an hour
7,Jr.DataScientist| Development Team,DarkOwl,Work closely with our lead researchers to writ...,"San Francisco, CA",4.8,"$70,000 - $80,000 a year"
10,DataScientist,US General Services Administration,"Performing data discovery, data mining, predic...","Oakland, CA",5.0,$45 - $65 an hour
11,DataScientist,Pricesenz,Hands on (not just academic) experience in app...,"Mountain View, CA 94043",4.2,"$100,000 - $150,000 a year"
12,Full Time Opportunities for Students or Recent...,Microsoft,Some experience and or project course work per...,"Pasadena, CA 91101(West Central area)",5.0,$50 an hour
15,DataScientist,Northrop Grumman,"Data analytics and visualization, statistics.T...","Baltimore, MD 21224(Canton Industrial Area area)",4.1,"$150,000 - $225,000 a year"
16,DataScientist,Seen by Indeed,With one application you can be considered for...,"San Diego, CA",4.2,$45 - $65 an hour
17,DataScientist/DataAnalytics,Tredence Inc.,Data analytics: 3 years (Preferred).Lead and m...,"San Francisco, CA",4.8,"$100,000 - $150,000 a year"
20,"DataScientist, Medical Diagnostics",Specific Diagnostics,Used for bloodstream infection Specific’s solu...,"Mountain View, CA 94043",5.0,"$70,000 - $80,000 a year"
21,EducationalDataScientist,Expatiate Communications,Knowledge and deployment of advanced statistic...,"Pasadena, CA 91101(West Central area)",4.2,"$150,000 - $225,000 a year"
24,"Siri -DataScientist,DataOrganization",Apple,"Build analytic, visualization, and other infor...","Walnut Creek, CA",4.1,$45 - $65 an hour
25,DataScientist,Source Cloud Technology,Data mining using state-of-the-art methods.Enh...,"Baltimore, MD 21224(Canton Industrial Area area)",4.1,"$102,663 - $157,709 a year"
26,DataScientist,Source Enterprises,Stay current on modern trends and advances in ...,"San Diego, CA",4.2,$25 an hour
27,DataScientistIntern,HP,Four-year university students who are working ...,Remote,4.2,"$5,297 - $8,570 a month"
28,DataScientistEntry Level - Pathrise Recruiting...,Pathrise,0-3 years in data science.In these positions y...,"Oakland, CA",4.8,"$70,000 - $80,000 a year"
31,Intern:DataAnalyst,Juniper Networks,Determine customers’ experience when they use ...,"Seattle, WA",5.0,"$100,000 - $150,000 a year"

In [215]:
sorting = indeed.groupby("location")
sorting